@import "../../style.scss";

.home {
    @include themify($themes) {
        position: sticky;
        background-color: #F0F2F5;

        @include mobile {
            padding: 10px;
        }

        @include tablet {
            padding: 20px;
        }
    }
}