.friends {
    background-color: #fff;

    .heading {
        margin-top: 30px;
        display: flex;
        align-items: center;
        margin-left: 20px;

        span {
            font-size: 30px;
            font-weight: bold;
        }
    }
}