.friend {


    .container {


        padding: 10px;

        .item {
            background-color: white;
            // background-color: rgb(239s, 239, 239);
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            padding: 15px;


            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;

                .userInfo {
                    display: flex;
                    align-items: center;
                    position: relative;
                    gap: 20px;

                    img {
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button {
                        border: none;
                        padding: 5px;
                        color: white;
                        cursor: pointer;
                        border-radius: 3px;
                        background-color: #2444d0;

                    }
                }
            }
        }


    }
}