@import "../../style.scss";

.leftBar {
    @include themify($themes) {
        flex: 2;
        top: 70px;
        height: calc(100vh - 70px);
        position: sticky;
        overflow: scroll;
        background-color: #F0F2F5;

        @include mobile {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .container {
            padding: 20px;

            hr {
                margin: 20px 0px;
                border: none;
                height: 0.5px;
                background-color: lightgray;
            }

            .menu {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    font-size: 12px;
                    font-weight: bold;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-size: 14px;
                    }
                }

                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 30px;
                        // background-position: 0;
                        // background-size: 38px 570px;
                        // width: 30px;
                        // height: 30px;
                        // background-repeat: no-repeat;
                        // display: inline-block;
                        // object-fit: cover;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}