@import "../../style.scss";

.navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 40px;
        border-bottom: 1px solid lightgrey;
        position: sticky;
        top: 0;
        background-color: themed("bg");
        //color: themed("textColor");
        //overflow: hidden;
        z-index: 999;


        .left {
            display: flex;
            align-items: center;
            gap: 30px;

            span {
                font-weight: bold;
                font-size: 20px;
                color: rgb(12, 12, 18);
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;


                input {
                    border: none;
                    width: 500px;
                    height: 30px;
                    outline: none;
                    background-color: transparent;

                    @include mobile {
                        display: none;
                    }

                    @include tablet {
                        width: 200px;
                    }
                }
            }

            .searchResult {
                position: absolute;
                display: flex;
                top: 55px;
                left: 240px;
                padding: 20px 5px;
                background-color: white;
                border-radius: 3px;
                border: 1px solid lightgray;
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 537px;
                height: auto;
                overflow: hidden;
                overflow-y: auto;
                max-height: 200px;

                .profile {
                    display: flex;
                    gap: 20px;
                    font-weight: 100;
                    padding: 7px;
                    background-color: #fff;

                    img {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                    }

                    .profileSpan {
                        font-size: 15px;
                        color: #414141;
                    }


                }

                .profile:hover {
                    background-color: #d8d7d7;
                }
            }

            .searchResult::-webkit-scrollbar {
                display: none;
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;

            @include mobile {
                display: none;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;


                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    @include tablet {
                        display: none;
                    }
                }
            }
        }
    }
}