@import "../../style.scss";

.navbar {
    @include themify($themes) {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.238);

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 40px;
        // border-bottom: 1px solid lightgrey;
        position: sticky;
        top: 0;
        background-color: white;
        //color: themed("textColor");
        //overflow: hidden;
        z-index: 999;


        .left {
            display: flex;
            align-items: center;
            gap: 40px;

            img {
                height: 40px;
                width: 40px;
                // margin-right: -15px;
                border-radius: 3px;
            }

            span {
                font-weight: bold;
                font-size: 20px;
                color: rgb(12, 12, 18);
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border-radius: 25px;
                padding: 5px;
                background-color: #F0F2F5;


                input {
                    border: none;
                    width: 300px;
                    height: 30px;
                    outline: none;
                    background-color: transparent;

                    @include mobile {
                        display: none;
                    }

                    @include tablet {
                        width: 200px;
                    }
                }
            }

            .searchResult {
                position: absolute;
                display: flex;
                top: 55px;
                left: 240px;
                padding: 20px 5px;
                background-color: white;
                border-radius: 10px;
                // border: 1px solid lightgray;
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 337px;
                height: auto;
                overflow: hidden;
                overflow-y: auto;
                max-height: 200px;
                border: none;

                box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.041);

                .profile {
                    display: flex;
                    gap: 20px;
                    font-weight: 100;
                    padding: 7px;
                    background-color: #fff;

                    img {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                    }

                    .profileSpan {
                        font-size: 15px;
                        color: #414141;
                    }


                }

                .profile:hover {
                    background-color: #d8d7d7;
                }
            }

            .searchResult::-webkit-scrollbar {
                display: none;
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;

            @include mobile {
                display: none;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;


                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    @include tablet {
                        display: none;
                    }
                }
            }
        }
    }
}